!!! 5
%html
  %head
    %title JoseSearch
    %link{:type=>'text/css', :rel=>'stylesheet',:href=>'/css/style.css'}
    %script{:type=>'text/javascript',:src=>'/js/jquery-1.6.1.min.js'}
    %script{:type=>'text/javascript',:src=>'/js/jquery-ui-1.8.13.custom.min.js'}
    %script{:type=>'text/javascript',:src=>'/js/josesearch.js'}
  %body
    #search.centered
      %form.query{:action=>'/search', :method=>'get'}
        %input.query{:name=>'q', :type=>'text', :placeholder=>'What do you want?', :title=>'click to search'}
